# API Key configuration
GEMINI_API_KEY=
OPENAI_API_KEY=

# Local Sesi configuration
SESI_SAFE_MODE=true // Set to false to bypass `-l`, `--local-` flags
SESI_LOCAL_FS=false // Set to true to allow file operations outside of the current working directory explicitly
SESI_PASSWORD=

# SesiraAPI custom configuration
SESIRA_PROVIDER=
SESIRA_MODEL=
SESIRA_MEMORY_PATH=
SESIRA_MEMORY_NAMESPACE"=
SESIRA_LOG_PATH=
SESIRA_TEMPERATURE=
SESIRA_MAX_TOKENS